@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  align-items: center;
  justify-content: center;
 
}
.container
{
 
 margin-top: 80px;
 
}
.wrapper
{

  max-height: 100vh !important;
}

.weeklynews{
  align-items: center;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  justify-content: center;
  margin: 5em auto !important;
  padding: -5em 0 5em 0 ;
  row-gap: 10px;
  text-align: start;
  
}
.weeklynews h3{
  color: blueviolet;
}
h1{
  font-family: fantasy;
  font-size: 50px !important;
  font-weight: 900;
  padding: 5%;
}
p{
  text-indent: 35px;
}

.last-arth a{
  color: red;
  text-decoration: none;
}
.btn
{
  background-color: rgb(1, 80, 109) !important;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
  max-width: 0 auto;
  width: 260px;
}
.btn,span
{
  display: inline;
  position: sticky;
}

h5:hover{
   color: tomato;
   font-size: 30px;
   text-align: center;
}
h6{
  font-size: 30px;
}
span 
{
  
  font-size: 2em;
  padding-left: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 550px){
  .container{
    margin: 2em auto !important;
  }
  .wrapper
  {
    width: 100% !important;
  }
 
  .weeklynews{
    margin: 1em auto !important;
   
  }
  .btn
  {
    margin: 10rem 0;
    width: 47%;
  }
  h5:hover{
    
    font-size: 25px;
  }
}